@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Pirocudo"]</p>


<adress>
    <strong>Mais informações: </strong> <a href="https://www.youtube.com/watch?v=o4C9bBfhnLg">Pauloguinataradão.com.br</a>
</adress>